#modal_sobre{
    background-color: blue transparent;
}
#modal_sobre_base{
    background-color: rgb(196, 235, 235);
}
#formulario{
    text-align: center;
    align-content: center;
}
.RedesSociais{
    width: 50px;
}